
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Work</title>
  <link rel="stylesheet" href="application.css">
</head>
<body>
  <header>
    <h1>My Work</h1>
  </header>
  <div class="container">
    <section class="work">
      <h1>My Work</h1>
      <p>Throughout my career, I have held various roles in operations, sales, and customer service. As an Operational Specialist at Nike, I led the Outbound Sortation Center project, significantly reducing delivery times. Previously, as a Regional Manager for Pax Cigars, I achieved a remarkable increase in net sales within a year. Additionally, I have experience as a Sales Specialist at County Line Auto, where I provided professional customer service and was recognized as the top sales representative.</p>
    </section>
  </div>
  <footer>
    <p>Copyright &copy; 2024 My Portfolio. All rights reserved.</p>
  </footer>
</body>
</html>