
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me</title>
  <link rel="stylesheet" href="application.css">
</head>
<body>
  <header>
    <h1>About Me</h1>
  </header>
  <div class="container">
    <section class="about">
      <h1>About Me</h1>
      <p>  I am a professional with a diverse background in operations, logistics, and management. Currently working as an Operational Specialist at Nike, I lead projects to improve efficiency and reduce delivery times. Previously, I served as a Regional Manager for Pax Cigars, where I achieved a remarkable increase in net sales. My skills include project management, SAP, logistics management, inventory management, and more. Educationally, I hold an Associates from Northwest Community College and am currently pursuing a Bachelor's in Computer Science at the University of Memphis.
</p>
    </section>
  </div>
  <footer>
    <p>Copyright &copy; 2024 My Portfolio. All rights reserved.</p>
  </footer>
</body>
</html>
