
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Me</title>
  <link rel="stylesheet" href="application.css">
</head>
<body>
  <header>
    <h1>Contact Me</h1>
  </header>
  <div class="container">
    <section class="contact">
      <h1>Contact Me</h1>
      <p>Feel free to reach out to me via email at yahianahhas@yahoo.com or phone at ###-###-####. You can also connect with me on LinkedIn  or follow me on Twitter. Alternatively, you can use the contact form below to send me a message.</p>
    </section>
  </div>
  <footer>
    <p>Copyright &copy; 2024 My Portfolio. All rights reserved.</p>
  </footer>
</body>
</html>
